@CHARSET "UTF-8";

table{
	border-style:solid;
	width:100%;
	border-spacing: 0px;
	border-collapse:collapse;
	text-align: center;
}

table tr td{
	font-size: 18px;
	border-style:solid;
	text-align:left;
	text-indent:15px;
	border-width: 1px;
}

table tr td:nth-child(1) {
	text-align: center;
	text-indent:15px;
	text-indent:0px;
}