@CHARSET "UTF-8";

#tableList{
	border-style:solid;
	width:100%;
	border-spacing: 0px;
	border-collapse:collapse;
	text-align: center;
}

#tableList tr td{
	font-size: 18px;
	border-style:solid;
	text-align:left;
	text-indent:30px;
	border-width: 1px;
	padding-top:10px;
	padding-bottom:10px;
}

#tableList tr td:nth-child(1) {
	text-align: center;
	text-indent:0px;
	padding-top:10px;
	padding-bottom:10px;
}

#tableList tr th{
	font-size: 20px;
	padding-top:10px;
	padding-bottom:10px;
	border-style:solid;
	border-width: 1px;
}

a, span.link {
  color: blue;
}

a:visited, span.visited {
   color: purple;
}

a:active, span.active {
   color: red;
}
